<template>
<div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAlunoModal">
            Adicionar aluno
        </button>
    </div>
</div>
</template>

<script>

    export default {
        name: "alunosadd-component"

    }
</script>

<style scoped>

</style>
