<template>
    <div ref="addAlunoModal" class="modal fade" id="addAlunoModal" tabindex="-1" role="dialog" aria-labelledby="addAlunoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAlunoModalLabel">Formulario para adição de aluno</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addAlunoForm" name="addAlunoForm" @submit="addAluno">
                        <div class="form-group">
                            <label for="inputNome">Nome do aluno</label>
                            <input type="text" class="form-control" v-model.lazy="inputNome" id="inputNome" name="inputNome" aria-describedby="nomeHelp" required>
                            <small id="nomeHelp" class="form-text text-muted">Insira o nome do aluno</small>
                        </div>
                        <div class="form-group">
                            <label for="inputTurma">Turma</label>
                            <select id="inputTurma" v-model.lazy="selected">
                                <option :selected="true" disabled>Select...</option>
                                <option v-for="turma in listaturmas" :value="turma.value">{{turma.text}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputNascimento">Data de nascimento</label>
                            <input type="text" class="form-control" v-model.lazy="inputNascimento" id="inputNascimento" name="inputNascimento" aria-describedby="nascimentoHelp" required>
                            <small id="nascimentoHelp" class="form-text text-muted">Insira a data de nascimento</small>
                        </div>
                        <div class="form-group">
                            <label for="inputCEP">CEP</label>
                            <input @blur="fetchViaCEP" type="text" class="form-control" v-model.lazy="inputCEP" id="inputCEP" name="inputCEP" aria-describedby="CEPHelp" required>
                            <small id="CEPHelp" class="form-text text-muted">Insira o CEP aluno</small>
                        </div>
                        <div class="form-group">
                            <label for="inputEndereco">Endereco</label>
                            <input type="text" class="form-control" v-model.lazy="inputEndereco" id="inputEndereco" name="inputEndereco" aria-describedby="enderecoHelp" required>
                            <small id="enderecoHelp" class="form-text text-muted">Insira o endereco do aluno</small>
                        </div>
                        <div class="form-group">
                            <label for="inputBairro">Bairro</label>
                            <input type="text" class="form-control" v-model.lazy="inputBairro" id="inputBairro" name="inputBairro" aria-describedby="bairroHelp" required>
                            <small id="bairroHelp" class="form-text text-muted">Insira o bairro do aluno</small>
                        </div>
                        <div class="form-group">
                            <label for="inputCidade">Cidade</label>
                            <input type="text" class="form-control" v-model.lazy="inputCidade" id="inputCidade" name="inputCidade" aria-describedby="cidadeHelp" required>
                            <small id="cidadeHelp" class="form-text text-muted">Insira a cidade do aluno</small>
                        </div>
                        <div class="form-group">
                            <label for="inputUF">UF</label>
                            <input type="text" class="form-control" v-model.lazy="inputUF" id="inputUF" name="inputUF" aria-describedby="UFHelp" required>
                            <small id="UFHelp" class="form-text text-muted">Insira a UF do aluno</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {EventBus} from "../event-bus";
    export default {
        name: "alunosform-component"
        ,
        data: function(){
            return{
                listaturmas: [],
                selected: [],
                selturmas: [],


                id_aluno: '',
                inputNome: [],
                inputCEP: [],
                inputEndereco: [],
                inputBairro: [],
                inputCidade: [],
                inputUF: [],
                inputNascimento: []

            }
        },
        mounted: function(){
            this.getTurmas();

            EventBus.$on('showAlunoData', (id_aluno) => {
                this.$nextTick(function () {
                    this.id_aluno = '';
                    this.inputNome = '';
                    this.inputCEP = [];
                    this.inputEndereco = [];
                    this.inputBairro = [];
                    this.inputCidade = [];
                    this.inputUF = [];
                    this.selected = [];
                });
                if(id_aluno > 0){
                    this.$nextTick(function () {
                        this.id_aluno = id_aluno;
                    });
                    console.log('aluno eh: ') +id_aluno;
                    this.loadAlunoData(id_aluno);
                }
            });
            $(this.$refs.addAlunoModal).on('shown.bs.modal', function () {
                EventBus.$emit('modalAlunoOpened');
            });
        },
        methods: {
            getTurmas: function () {
                var url = '/api/Turma';
                axios
                    .get(url).then(response =>
                {
                    console.log(response.data);
                    this.data = response.data;
                    this.data.forEach((turma) => {
                        this.listaturmas.push({'value': turma.id, 'text' : turma.nome});
                    });
                });
            },
            fetchViaCEP: function () {
                const url = 'http://viacep.com.br/ws/' + this.inputCEP + '/json/';
                axios
                    .get(url).then(response => {
                    var dados = response.data;
                    console.log(dados);
                    this.inputEndereco = dados.logradouro;
                    this.inputCidade = dados.localidade;
                    this.inputBairro = dados.bairro;
                    this.inputUF = dados.uf;
                });

            },
            addAluno(e)
            {
                if(this.id_aluno > 0)
                {
                    e.preventDefault();
                    const url = '/api/Aluno/' + this.id_aluno;
                    console.log(this.selected);
                    axios
                        .put(url, {
                            Nome: this.inputNome,
                            Nascimento: this.inputNascimento,
                            TurmaId: this.selected,
                            CEP: this.inputCEP,
                            Endereco: this.inputEndereco,
                            Bairro: this.inputBairro,
                            Cidade: this.inputCidade,
                            UF: this.inputUF,
                        },{withCredentials: true,
                            headers: {
                                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                            }}).then( response => {
                        if(response.status == 200)
                            alert('Aluno updated successfully!');
                    })
                        .catch(function () {
                            curObject.output = error;
                        });
                }
                else
                {
                    e.preventDefault();
                    let curObject = this;
                    const url = '/api/Aluno';
                    axios
                        .post(url, {
                            Nome: this.inputNome,
                            Nascimento: this.inputNascimento,
                            TurmaId: this.selected,
                            CEP: this.inputCEP,
                            Endereco: this.inputEndereco,
                            Bairro: this.inputBairro,
                            Cidade: this.inputCidade,
                            UF: this.inputUF,
                        },{withCredentials: true,
                            headers: {
                                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                            }}).then( response => {
                        if(response.data == 'OK')
                            console.log(response.data);
                        alert('Aluno added successfully!');
                    })
                        .catch(function () {
                            curObject.output = error;
                        });
                }

            },
            loadAlunoData(id) {
                const url = '/api/Aluno/'+id;
                axios
                    .get(url).then( response => {
                    console.log(response);
                    const a = response.data[0]['nome'];
                    const b = response.data[0]['data_nascimento'];
                    const c = response.data[0]['turma_id'];
                    const d = response.data[0]['cep'];
                    const e = response.data[0]['endereco'];
                    const f = response.data[0]['bairro'];
                    const g = response.data[0]['cidade'];
                    const h = response.data[0]['uf'];
                    this.$nextTick(function () {
                        this.inputNome = a;
                        this.inputNascimento = b;
                        this.selected = c;
                        this.inputCEP = d;
                        this.inputEndereco = e;
                        this.inputBairro = f;
                        this.inputCidade = g;
                        this.inputUF = h;
                    });

                });

            }
        }
    }
</script>
