<template>
    <div ref="importProdutoCSVModal" class="modal fade" id="importProdutoCSVModal" tabindex="-1" role="dialog" aria-labelledby="importProdutoCSVModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="importProdutoCSVModalLabel">Importacao de CSV</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Arquivo para importar
                        <input type="file" id="file" name="importCSV" ref="file" v-on:change="handleFileUpload()"/>
                    </label>
                    <button v-on:click="submitFile()">Submit</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "produtoscsvformimport-component",
        data(){
            return {
                file: ''
            }
        },
        methods: {
            handleFileUpload(){
                this.file = this.$refs.file.files[0];
            },
            submitFile(){
                let formData = new FormData();
                formData.append('file', this.file);
                axios
                    .post('/api/CSVImport', formData ,
                        {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }).then(response => {
                            if(response.data === 'OK') {
                                alert('Importacao !' + response.data);
                                console.log('OK');
                            }
                            else
                            {
                                alert('Importacao falhou!');
                            }
                }).catch(function () {
                    console.log('fial');
                });
            }
        }
    }
</script>

<style scoped>

</style>
