<template>
    <div ref="addProdutoModal" class="modal fade" id="addProdutoModal" tabindex="-1" role="dialog" aria-labelledby="addProdutoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addProdutoModalLabel">Formulario para adição de produtos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addProdutoForm" name="addProdutoForm" @submit="addProduto">
                        <div class="form-group">
                            <label for="inputNome">Nome do produto</label>
                            <input type="text" class="form-control" v-model.lazy="inputNome" id="inputNome" name="inputNome" aria-describedby="nomeHelp" required>
                            <small id="nomeHelp" class="form-text text-muted">Insira o nome do produto</small>
                        </div>
                        <div class="form-group">
                            <label for="inputEstoque">Estoque</label>
                            <input type="text" class="form-control" v-model.lazy="inputEstoque" id="inputEstoque" name="inputEstoque" aria-describedby="estoqueHelp" required>
                            <small id="estoqueHelp" class="form-text text-muted">Insira o estoque</small>
                        </div>
                        <div class="form-group">
                            <label for="inputPreco">Preço</label>
                            <input type="text" class="form-control" v-model.lazy="inputPreco" id="inputPreco" name="inputPreco" aria-describedby="precoHelp" required>
                            <small id="precoHelp" class="form-text text-muted">Insira o preço do produto</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {EventBus} from "../event-bus";
    export default {
        name: "produtosform-component"
        , data: function ()
        {
            return {
                id_produto: '',
                inputNome: [],
                inputEstoque: [],
                inputPreco: []
            }
        },
        mounted: function() {
            EventBus.$on('showProdutoData', (id_produto) => {
                alert('rolou1231');
                this.$nextTick(function () {
                    this.id_produto = '';
                    this.inputNome = '';
                    this.inputEstoque = '';
                    this.inputPreco = '';
                });
                if(id_produto > 0){
                    this.$nextTick(function () {
                        this.id_produto = id_produto;
                    });
                    console.log('Produto eh: ')+ id_produto;
                    this.loadProdutoData(id_produto);
                }
            });
            $(this.$refs.addProdutoModal).on('shown.bs.modal', function () {
                EventBus.$emit('modalProdutoOpened');
                //alert(this.id_tracker);
                //$('#myInput').trigger('focus')
                //alert('sdauhdiuasdhsahu');
            });
        },
        methods: {
            addProduto(e)
            {
                if(this.id_produto > 0)
                {
                    e.preventDefault();
                    const url = '/api/Produto/' +this.id_produto;
                    axios
                        .put(url, {
                            Nome: this.inputNome,
                            Estoque: this.inputEstoque,
                            Preco: this.inputPreco
                        },{withCredentials: true,
                            headers: {
                                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                            }}).then( response => {
                        if(response.status == 200)
                            alert('Produto updated successfully!');
                    })
                        .catch(function () {
                            curObject.output = error;
                        });
                }
                else
                {
                    e.preventDefault();
                    let curObject = this;
                    const url = '/api/Produto';
                    axios
                        .post(url, {
                            Nome: this.inputNome,
                            Estoque: this.inputEstoque,
                            Preco: this.inputPreco
                        },{withCredentials: true,
                            headers: {
                                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                            }}).then( response => {
                        if(response.data == 'OK')
                            console.log(response.data);
                        alert('Aluno added successfully!');
                    })
                        .catch(function () {
                            curObject.output = error;
                        });
                }
            },
            loadProdutoData(id){
                const url = '/api/Produto/'+id;
                //alert('opa!');
                axios
                    .get(url).then(response => {
                        console.log(response);
                        const a = response.data[0]['nome'];
                        const b = response.data[0]['estoque'];
                        const c = response.data[0]['preco'];

                        this.$nextTick(function () {
                            this.inputNome = a;
                            this.inputEstoque = b;
                            this.inputPreco = c;
                        });
                });
            }
        }
    }
</script>

<style scoped>

</style>
