<template>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProdutoModal">
                Adicionar produto
            </button>
        </div>
        <produtoscsvimport-component></produtoscsvimport-component>
    </div>
</template>

<script>
    import ProdutoscsvimportComponent from "./ProdutosCSVImportComponent";
    export default {
        name: "produtosadd-component",
        components: {ProdutoscsvimportComponent}
    }
</script>

<style scoped>

</style>
