<template>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-borderless">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Estoque</th>
                    <th scope="col">Preco</th>
                    <th scope="col">Operations</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="produto in produtos">
                    <th scope="row">{{produto.id}}</th>
                    <td>{{produto.nome}}</td>
                    <td>{{produto.estoque}}</td>
                    <td>{{produto.preco}}</td>
                    <td>
                        <a v-on:click="displayProdutoData(produto.id)">
                            <svg class="bi bi-search" width="24" height="24" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                            </svg>
                        </a>
                        <a v-on:click="editProdutoData(produto.id)">
                            <svg class="bi bi-pencil-square" width="24" height="24" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>


<script>
    import {EventBus} from "../event-bus";
    export default {
        name: "produtolist-component"
        ,
        data: function () {
            return {
                produtos: [],
                temp_produto_id: []
            }
        },
        methods: {
            fetchProdutos: function () {
                const url = '/api/Produto';
                axios
                    .get(url).then(response => {
                    this.produtos = response.data;
                    console.log(this.produtos);
                });
            },
            displayProdutoData: function (e) {
                $('#addProdutoModal').modal('show');
                this.temp_produto_id.push(e);
            },
            emitProdutoId: function () {
                EventBus.$emit('showProdutoData', this.temp_produto_id.pop());
            },
            editProdutoData: function (e) {
                alert('clicou edit! valor:' +e);
            }
        }
        ,
        mounted() {
            this.fetchProdutos();
            EventBus.$on('modalProdutoOpened', () => {
                this.emitProdutoId();
            });
        }
    }
</script>

<style scoped>

</style>
