<template>
<div class="col">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#importProdutoCSVModal">
        Importar produtos
    </button>
</div>
</template>

<script>
    export default {
        name: "produtoscsvimport-component"
    }
</script>

<style scoped>

</style>
