<template>
    <select v-model.lazy="selected" multiple >
        <option :selected="true" disabled>Select...</option>
        <option v-for="turma in listaturmas" :value="turma.value">{{turma.text}}</option>
    </select>
</template>


<script>
    export default {
        name: "selectturma-component",
        data:
        function () {
            return {
            listaturmas: [],
                selected: [],
                selturmas: []
            }
        },
        methods: {
            getTurmas: function () {
                var url = '/api/TurmasList';
                axios
                    .get(url).then(response =>
                {
                    this.data = response.data;
                    this.data.forEach((turma) => {
                        this.listaturmas.push({'value': turma.id, 'text' : turma.name});
                    });
                });
            },

        }
    }
</script>

<style scoped>

</style>
