<template>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addVendaModal">
                Cadastrar venda
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "vendasadd-component"
    }
</script>

<style scoped>

</style>
