<template>
    <div ref="addVendaModal" class="modal fade" id="addVendaModal" tabindex="-1" role="dialog" aria-labelledby="addVendaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addVendaModalLabel">Formulario para gerenciamento de pedidos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addVendaForm" name="addVendaForm">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="inputAluno">Aluno</label>
                                    <select id="inputAluno" v-model.lazy="selected" @change="alunoChanged">
                                        <option :selected="true" disabled>Select...</option>
                                        <option v-for="aluno in listaalunos" :value="aluno.value">{{aluno.text}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">

                                <table class="table table-striped table-borderless">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID Produto</th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Estoque</th>
                                        <th scope="col">Preço</th>
                                        <th scope="col">Qtd desejada</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="produto in produtos">
                                        <th scope="row">{{produto.id}}</th>
                                        <td>{{produto.nome}}</td>
                                        <td>{{produto.estoque}}</td>
                                        <td v-if="produto.finalizada == 0">{{0}}</td>
                                        <td v-else>{{produto.preco}}</td>
                                        <td>
                                            <input type="text" class="form-control" @change="relacionaQtdProd" :id="'qtd_' + produto.id" :name="'qtd_' +produto.id" :aria-describedby="'qtd_' +produto.id">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" @click="addVenda(0)">Salva venda</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fecha janela</button>
                    <button type="button" class="btn btn-primary" @click="addVenda(1)">Finaliza venda</button>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import {EventBus} from "../event-bus";
    export default {
        name: "vendasform-component"
        ,
        data: function(){
            return{
                listaalunos: [],
                selected: [],
                selalunos: [],



                id_vendas: '',
                inputQtdProd: [],
                produtos: [],

            }
        },
        mounted: function(){

            EventBus.$on('showVendaData', (id_venda, id_aluno) => {

                //alert('abriu!');

                this.$nextTick(function () {
                    this.listaalunos = [];
                    this.selected = '';
                    this.selalunos = [];
                    this.id_vendas = '';
                    this.inputQtdProd = [];
                });

                this.getAlunos();

                console.log('venda eh fora: ') + id_venda;
                console.log('aluno eh fora: ') + id_aluno;

                if(id_venda > 0){
                    this.$nextTick(function () {
                        this.id_venda = id_venda;
                        this.id_aluno = id_aluno;
                    });
                    console.log('venda eh: ') + id_venda;
                    console.log('aluno eh: ') + id_aluno;

                    this.loadVendaData(id_venda, id_aluno);
                }
            });
            $(this.$refs.addVendaModal).on('shown.bs.modal', function () {
                console.log('entrou no refs');
                EventBus.$emit('modalVendaOpened');
            });
        }
        ,
        methods: {
            salvaVenda: function () {

            },
            finalizaVenda: function () {

            },
            addVenda: function (val)
            {
                var finalizada = -1;

                if(val === 0)
                {
                    finalizada = 0;
                }
                else
                {
                    finalizada = 1;
                }
                if(this.id_venda > 0)
                {


                   // e.preventDefault();
                    const url = '/api/ProdutoByVendas/' + this.id_venda +'/aluno/'+ this.id_aluno;
                    axios
                        .put(url, {
                            QtdxProd: JSON.stringify(this.inputQtdProd),
                            isFinalizada: finalizada
                        },{withCredentials: true,
                            headers: {
                                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                            }}).then( response => {
                        if(response.status == 200)
                            alert('Venda updated successfully!');
                    })
                        .catch(function () {
                            curObject.output = error;
                        });
                }
                else
                {
                    //e.preventDefault();
                    let curObject = this;
                    const url = '/api/ProdutoByVendas/0/aluno/'+ this.id_aluno;
                    axios
                        .post(url, {
                            QtdxProd: JSON.stringify(this.inputQtdProd),
                            isFinalizada: finalizada
                        },{withCredentials: true,
                            headers: {
                                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                            }}).then( response => {
                        if(response.data == 'OK')
                            console.log(response.data);
                        alert('Aluno added successfully!');
                    })
                        .catch(function () {
                            curObject.output = error;
                        });
                }
            },
            relacionaQtdProd : function (e)
            {
                var index = -1;

                for(var i = 0; i< this.inputQtdProd.length; i++)
                {
                    if(this.inputQtdProd[i].id === e["srcElement"].id)
                    {
                        index = i;
                        break;
                    }
                }

                if(index === -1)
                {
                    this.inputQtdProd.push({ id: e["srcElement"].id
                        , value: e["srcElement"].value});
                }
                else
                {
                    this.inputQtdProd[index].value = e["srcElement"].value;
                }
            },
            alunoChanged(e)
            {
                this.loadVendaData(0,this.selected);
            }
            ,
            getAlunos: function () {
                var url = '/api/Aluno';
                axios
                    .get(url).then(response => {
                        this.data = response.data;
                        this.data.forEach((aluno) => {
                            this.listaalunos.push({'value': aluno.id, 'text': aluno.nome});
                        });
                });
            },
            getProdutos: function () {
                 var url = '/api/ProdutoByVendas/aluno/'+this.selected;
                 axios
                     .get(url).then (response => {
                         var dados = response.data;
                 })
            },
            loadVendaData(id_venda,id_aluno) {

                id_venda = 0;
                this.id_venda = 0;
                this.id_aluno = id_aluno;

                if(id_aluno == '')
                {
                    id_aluno = 0;
                }
                if(id_venda == '')
                {
                    id_venda = 0;
                }

                var url = '/api/ProdutoByVendas/'+ id_venda + '/aluno/'+id_aluno;

                axios
                    .get(url).then( response => {
                    const a = response.data;
                     this.$nextTick(function () {
                         this.produtos = a;
                     });
                    });

            }
        }
    }
</script>

<style scoped>

</style>
